extends layout

block content
  h1#heading Hack
    span#head-part Mate
  div#line
  p.lead Find your ideal HackMate ❗️
  if !user
    div#signup-div
      button#signup-btn SIGN UP
  else
    div#signup-div
      button#signup-btn  VIEW PROFILE
