extends layout

block content
  h1#heading Hack
    span#head-part Mate
  div#line
  p.lead Find your ideal HackMate ❗️
  if !user
    div#signup-div
      button#signup-btn SIGN UP
  else
    div#signup-div
      button#signup-btn  VIEW PROFILE
      
block works
  #howItWorks
    #how-heading HOW IT WORKS
    .row
      .col-md-3 
        .how-img-div
          .centering-div
            i#how-img.fas.fa-user
        div.how-head-text SIGN UP
        div.how-text Create your account
      .col-md-3 
        .how-img-div
          .centering-div
            i#how-img.fas.fa-list-alt
        div.how-head-text PROFILE
        div.how-text Set up your profile
      .col-md-3 
        .how-img-div
          .centering-div
            i#how-img.fas.fa-search
        div.how-head-text CHOOSE
        div.how-text Choose your hackathon and find the IDEAL teammates 🎉
