body {
    background-color: #2c3338;
}

#heading {
    font-family: 'Muli';
    margin-top: 200px;
    letter-spacing: -5px;
    font-size: 11rem;
    text-align: center;
    color: #3498db;
}

#head-part {
    color: white;
}

#line {
    height: 4px;
    width: 40%;
    background-color: #2c3e50;
    margin: 0 auto;
    animation: stretch 500ms ease-out 1.5s;
}

@keyframes stretch {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}

.lead {
    font-size: 23px;
    color: white;
    font-family: 'Muli';
    margin-top: 30px;
    text-align: center;
}

#footer {
    background-color: #1b2227 !important;
    box-shadow: 0px -2px 2px 1px #1a1116 !important;
    font-family: 'Muli';
}

.navbar-brand {
    color: #e4e4e4 !important;
}

.nav-link {
    color: white !important;
}

a.nav-link:hover {
    border-bottom: 1px solid rgba(244, 244, 244, 1.0);
    animation: underline 500ms linear;
}

@keyframes underline {
    0% {
        border-bottom: 1px solid rgba(244, 244, 244, 0);
    }

    100% {
        border-bottom: 1px solid rgba(244, 244, 244, 1.0);
    }
}

#signup-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-btn {
    outline: none;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    font-family: 'Muli';
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 55px;

    color: white;
    background-color: #3498db;
    box-shadow:
        0 0 0px #000,
        0 0 40px #2980b9,
        0 0 800px #3498db;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;

    transition: 300ms;
}

#signup-btn:hover,
#signup-btn:focus {
    width: 230px;
    height: 60px;
    font-size: 25px;
}

#footer {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

#footer-left {
    margin-left: 25px;
}

#footer-right {
    margin-right: 25px;
}

#footer a {
    color: #3498db;
}

#howItWorks {
    position: relative;
    margin-top: 100px;
    height: 600px;
    width: 100%;
    background-color: #eeeeee;
}

#how-heading {
    padding-top: 30px;
    text-align: center;
    font-family: 'Muli';
    font-size: 3rem;
}

#how-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

#howToPics {
    background-color: darkgrey;
    height: 300px;
    margin-left: 60px;
    border-radius: 10px;
    border: 3px black dotted;
    /* box-shadow: 3px 2px grey ;     */
}

.how-head-text {
    color: #f4f4f4;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Muli';
}

#how-img-div {
    width: 100%;
}

.centering-div {
    margin: 20px auto;
    height: 100px;
    width: 100px;
}

/* #how-img-div p {
    
} */

.how-text {
    text-align: center; 
    margin-top: 20px;
    font-size: 20px;
}

.fas {
    padding: 0;
}

#how-img {
    font-size: 100px;
    color: white;
    text-align: center;
}

#hackathon-head {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    color: #f4f4f4;
    font-family: 'Muli';
}

#hackathons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hackathon-item {
    display: flex;
    height: 50px;
    margin-right: 30px;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #a4a4a4;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Muli';
}

#hackathon-link {
    color: black;
    text-decoration: none;
    transition: ease-out 200ms;
}

#hackathon-link:hover,
#hackathon-link:focus {
    color: #3427a5;
    font-size: 22px;
}

.boxflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hacks-img {
    margin-top: 100px;
    margin-right: 50px;
}

.hacks-head {
    font-family: 'Muli';
    font-size: 40px;
    color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.hacks-date {
    font-family: 'Muli';
    font-size: 20px;
    color: #f4f4f4;
}

.hacks-location {
    font-family: 'Muli';
    font-size: 20px;
    color: #f4f4f4;
    /* text-align: center; */
}

.hacks-btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-wrap {
    width: 90%;
}

.hacks-btn {
    outline: none;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    font-family: 'Muli';
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 55px;

    color: white;
    background-color: #3498db;
    box-shadow:
        0 0 0px #000,
        0 0 40px #2980b9,
        0 0 800px #3498db;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;

    transition: 300ms;
}

.hacks-btn:hover,
.hacks-btn:focus {
    width: 110%;
    height: 60px;
    font-size: 25px;
}

#profile-head {
    text-align: center;
    margin-top: 75px;
}

#delete-but {
    margin-bottom: 50px;
}

@media only screen and (max-width: 400px) {
    #heading {
        font-size: 5rem;
    }
    .navbar-toggler {
        background-color: white;
    }
}
